.navButton{
    padding: 20px 20px 20px 40px ;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
    text-decoration: none !important;
    color: black;
    border-radius: 0 20px 20px 0;
    background-color: white;
    line-height: 0;
    transition: 0.3s ease;
}
.navButton:hover{
    transform: translateX(10px);
}
.containerNav{
    position: fixed;
    left: -15px;
    top: 25%;
    display: flex;
    justify-content: space-evenly;
    align-content: end;
    flex-direction: column;
   
}
.selected{
        transform: translateX(10px);
}
@media (min-width:992px) {
    .containerNav{
        left: -15px;
        top: 50%;
    }
}